ion-navbar[hidebackbutton] button[menutoggle] {
    display: block !important;
}

.getstarPrincipal {
    display: block;
    margin: 0 auto;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}